<div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="/admin">Admin Dashboard</a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Usuarios</li>

                        <li class="sidebar-item active ">
                            <a href="/admin/datos" class='sidebar-link'>
                            <i class="fa-solid fa-database"></i>
                                <span>Datos</span>
                            </a>
                        </li>
                    
                        <li class="sidebar-title">Comunio</li>

                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                            <i class="fa-solid fa-trophy"></i>
                                <span>Ver Clasificación</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                            <i class="fa-regular fa-calendar-plus"></i>
                                <span>Crear Actividad</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>