{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href=" {{ asset('assets/css/main.css') }}">

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="https://kit.fontawesome.com/06d773c21c.js" crossorigin="anonymous"></script>

{% endblock %}

{% block body %}

    {% include 'header.html.twig' %}

    <main>
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70">
                                <h2>Contacto</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="about-area2 fix pb-padding pt-50 pb-80 black-bg">
            <div class="support-wrapper align-items-center">
            <div class="left-content2">
                    <!-- section tittle -->
                    <div class="section-tittle2 mb-20 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="text-align: center;">
                        <div class="front-text">
                            <h2>Contact us</h2>
                            <p>You’ll look at graphs and charts in Task One, how to approach the task and the language needed 
                                for a successful answer. You’ll examine Task Two questions and learn how to plan, write and 
                                check academic essays.</p>
                                
                            <p class="mb-40">Task One, how to approach the task and the language needed for a successful answer. You’ll 
                            examine Task Two questions and learn how to plan, write and check academic essays.</p>
                            <a href="/datos" class="border-btn">My Courses</a>
                        </div>
                    </div>
                </div>              
            </div>
        </section>
    </main>

{% endblock %}