{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="{{ asset('assets/js/authDatosHistorial.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://kit.fontawesome.com/06d773c21c.js" crossorigin="anonymous"></script>

{% endblock %}

{% block body %}

    {% include 'header.html.twig' %}

    <main>
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70">
                                <h2>
                                    Historial de Datos
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="team-area section-padding30 fix black-bg">

            <div class="single-cat text-center mb-30 wow fadeInUp pb-5" data-wow-duration="1s" data-wow-delay=".2s">
                <div class="cat-cap">
                    <h4><a>Tus Pasos</a></h5>
                </div>
                <div class="container d-flex">
                    <canvas id="graficaPasos"></canvas>
                </div>
            </div>

            <div class="single-cat text-center mb-30 wow fadeInUp pb-5" data-wow-duration="1s" data-wow-delay=".4s">
                <div class="cat-cap">
                    <h4><a>Tu Peso</a></h5>
                </div>
                <div class="cat-cap container d-flex">
                    <canvas id="graficaPeso"></canvas>
                </div>
            </div>
            <div class="single-cat text-center mb-30 wow fadeInUp pb-5" data-wow-duration="1s" data-wow-delay=".6s">
                <div class="cat-cap">
                    <h4><a>Tu Distancia Recorrida</a></h5>
                </div>
                <div class="cat-cap container d-flex">
                    <canvas id="graficaDistancia"></canvas>
                </div>
            </div>

            <div class="single-cat text-center mb-30 wow fadeInUp pb-5" data-wow-duration="1s" data-wow-delay=".8s">
                <div class="cat-cap">
                    <h4><a>Tus Calorías Quemadas</a></h5>
                </div>
                <div class="cat-cap container d-flex">
                    <canvas id="graficaCalorias"></canvas> 
                </div>
            </div>

        </section>
    </main>
{% endblock %}
