{% extends 'base.html.twig' %}

{% block stylesheets %}

  {{ parent() }}

{% endblock %}

{% block javascripts %}

  {{ parent() }}
  <script src="https://accounts.google.com/gsi/client" async defer></script>

{% endblock %}

{% block body %}

  {% include 'header.html.twig' %}

  <main>
    <div class="slider-area position-relative">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 col-md-10">
                            <div class="hero__caption wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                              <span data-animation="fadeInLeft" data-delay="1s">Revisa tus datos</span>
                              <h1 data-animation="fadeInLeft" data-delay="2s">Fit Tracker</h1>
                              <a href="/datos" class="border-btn hero-btn" data-animation="fadeInLeft" data-delay="3s">Ver tus datos</a>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </div>
    
    <section class="team-area fix bg-black" style="padding-top: 40px; padding-bottom: 40px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-tittle text-center mb-55 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                        <h2>Qué encontrarás en nuestra web</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-cat text-center mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s" >
                        <div class="cat-cap">
                            <h5><a>Datos</a></h5>
                            <p>Tendremos tus datos físicos recogidos y actualizados a tiempo real para que puedas revisarlos cuando quieras.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-cat text-center mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="cat-cap">
                            <h5><a>Gráficas</a></h5>
                            <p>Encontrarás gráficas hechas a partir de tus datos para medir tu progresión de manera mucho más visual.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-cat text-center mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                        <div class="cat-cap">
                            <h5><a>Competición (Coming soon)</a></h5>
                            <p>Podrás competir con tus amigos y entrar en un ranking para ver quien es el más deportista de todos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
  </main>

  <script>
        window.onload = function () {
          google.accounts.id.initialize({
            client_id: '1004402412608-dfh826kvr7mo2rchs8e9cjsegh9prv21.apps.googleusercontent.com',
            callback: handleCredentialResponse
          });
          google.accounts.id.prompt();
        };
      </script>
{% endblock %}
